* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background: rgb(222, 221, 221);
  justify-content: center;
  align-items: center;

  /* position: absolute; */
}

.card {
  width: max-content;
  height: 700px;
  background-color: #ffff;
  box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.25);
  position: relative;
  border-radius: 5px;
  overflow: hidden;

  display: flex;
  padding: 1.5rem;
}

.leftside {
  flex: 3;
}

.left__wrapper {
  display: flex;
  justify-content: space-between;

  gap: 1rem;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

.rightside {
  flex: 1;

  position: relative;
  padding: 10px;
}
